<style>

    a{
        color:rgb(244, 148, 28);
    }

    a:visited{
        color:rgb(244, 148, 28);
    }

    #body-div{
        display:flex;
        flex-direction:column;
        align-items: center;
        padding-top:15vh;
        padding-bottom:15vh;
    }

    footer{
        background:rgb(44, 44, 44);
        color:rgb(172, 172, 172);
        min-height: 15vh;
        
    }

    #footer-div{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        width:400px;
        font-size: 18px;
    }

    #header {
        background:rgb(44, 44, 44);
    }

    .nav-link {
        font-size: 24px;
        font-weight: bold;
    }

    .nav-link:link, .nav-link:visited 
    {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        color:rgb(172, 172, 172);
    }

    .nav-link:hover, .nav-link:active 
    {
        color:rgb(244, 148, 28);
    }

    #logo{
        width:100px;
        height:100px;
        padding:10px;
        display:inline-block;
    }

    #logo-text {
        height: 150px;
        padding:10px;
        display:inline-block;
    }

    #nav-bar{
        display:flex;
        width:100%;
        justify-content: center;
    }

    nav ul {
        list-style-type:none; /*Remove bullets from the nav list*/
    }

    /*display navigation list items in one line rather than on separate lines*/
    nav li {
        display: inline;
        margin-right: 60px;
        padding: 10px 5px 10px 5px;
    }

    @media (max-width: 1000px){
        #nav-bar{
            display:flex;
            width:100%;
            flex-direction:column;
            height: auto;
            justify-content:space-around;
        }
    }

    @media(max-width: 1000px){
        li a{
            padding: 0;
            width:100%
        }
    }

</style>