{% include css.html %}

<style>

.post-title, .post-title:visited{
        font-size: 20px;
        font-weight: bold;
        color:black;
        text-decoration: none;
    }

#body-div{
    padding-top:0;
}

#body-text-div {
    text-align:center;
    width: 700px;
    text-align: left;
    padding: 20px;
}

span{
    font-size: 45;
    font-weight: bold;
}

.story-summary{
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

</style>

<body>

    {% include header.html %}

    <div id="body-div">
        <div id="logo-div">
            <span> {{ page.title }} </span>
            <img id="logo" src="assets/images/Logo.png" alt="Stinger Stories Logo">
        </div>

        <div id="body-text-div">
        {{ content }}
        </div>
    </div>

    {% include footer.html %}

</body>